// Specific CSS for your home-page
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.container {
  margin-top: 50px;
}

body {
  background-color: #E3E3E3;
}

#tof {
  margin-left: 700px;
  margin-top: -80px;
}

.footer {
  margin-top: 30px;
  height: 200px;
  background-color: #2C2B2B;
  color: grey;
  text-align: center;
}

.footer li {
  color: #167FFB;
  list-style: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 50px;
  padding-right: 15px;
}

h5 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.card-title{
  a {
    text-decoration: none;
  }
}

#photo:hover {
  opacity: 0.7;
  :hover {
    opacity: 1;
  }
}
